.ProductInfo {
  display: flex;
}

.ProductInfo .ProductImage {
  width: 50%;
  height: 100vh;
}
.ProductInfo .Info {
  width: 50%;
  height: 100vh;
  overflow-y: scroll;
}

.Product {
  margin-top: 3rem;
  background-color: white;
}
