.BuyNowButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5ac6c7;
  margin-top: 2rem;
  width: 18rem;
  margin-bottom: 1rem;
}

.Productinfo {
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: white;
}

.Productinfo .header {
  padding-bottom: 1rem;
}

.Productinfo .header h3 {
  padding-bottom: 1rem;
}

.Productinfo .ZefoAssessment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Productinfo .ZefoExperienceZone {
  height: 350px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.Productinfo .ZefoExperienceZone h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-left: 10rem;
}

.Productinfo .ZefoExperienceZone p {
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-left: 10rem;
}
.Productinfo .ZefoExperienceZone .select {
  display: block;
  margin-bottom: 2rem;
  margin-left: 10rem;
  height: 2rem;
  width: 25rem;
}

.Productinfo .ZefoExperienceZone .name {
  margin-left: 10rem;
  margin-right: 1rem;
  height: 2rem;
  width: 12rem;
}

.Productinfo .ZefoExperienceZone .phone {
  margin-right: 2rem;
  height: 2rem;
  width: 12rem;
}

.schedule {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #5ac6c7;
  margin-top: 2rem;
  width: 15rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
}
