.get_them {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #7fd6d8;
  margin-top: 2rem;
}
.Footer {
  background-color: white;
  padding: 2rem;
}

.get_them:hover {
  background-color: #5ac6c7;
}

.Footer-first {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.Footer-first h3 {
  margin-bottom: 0.5rem;
}

.Footer-first li {
  list-style-type: none;
}
.Footer-first a {
  text-decoration: none;
  color: black;
}
.Footer-first a:hover {
  color: #7fd6d8;
}

.Email input {
  height: 2.7rem;
  width: 16rem;
  margin-right: 0.7rem;
}

.Footer-first li {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Footer Second Section */

.Footer-second .head {
  text-align: center;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.Footer-second .second {
  display: flex;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.Footer-second .second h3 {
  padding-right: 1.3rem;
}

.second img {
  height: 25px;
  padding-left: 1.2rem;
}

.Footer-second a:hover {
  background-color: #7fd6d8;
}

/* Footer Third Section */

.Footer-third .Link {
  display: flex;
}

.Footer-third .Link a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: black;
}

.Footer-third .second {
  width: 100%;
}

.Footer-third .Link a:hover {
  color: #7fd6d8;
}
.Footer-third a {
  color: black;
}

.Footer-third .First {
  padding-top: 1rem;
}

.Footer-third {
  padding-left: 1rem;
  padding-right: 1rem;
}

.second .Link {
  display: flex;
  flex-wrap: wrap;
}
.Footer-third .First h3 {
  padding-bottom: 1rem;
}

.Footer-third .second h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
