* {
  padding: 0;
  margin: 0;
}
.first a {
  color: white;
}
.banner {
  font-size: 0.9rem;
  font-family: sans-serif;
  color: white;
  background-color: #5ac6c7;
  display: flex;
  justify-content: space-evenly;
  height: 1.7rem;
}
.first p {
  padding-top: 0.2rem;
}
.second li {
  display: flex;
}
.second li ul {
  padding-left: 2rem;
  padding-top: 0.2rem;
}

.second a {
  color: white;
  text-decoration: none;
}
